@import url(https://fonts.googleapis.com/css?family=UnifrakturMaguntia);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Rubik+Mono+One&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Mono&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Forum&subset=latin,cyrillic);

html,
body
{
    margin: 0;
}

header,
main
{
    margin: 0 auto;
    padding: 10px 0px;
    width: 1600px;
    max-width: 1600px;
}

header
{
    text-align: center;
}

h1
{
    margin: 0;
    padding: 10px 0;
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 150px;
    border-bottom: 5px solid black;
}

header h3
{
    margin: 0;
    padding: 10px 0;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    border-bottom: 5px solid black;
    word-spacing: 12px;
}

#normalSize:checked ~ main
{
    font-size: 16px;
}

#bigSize:checked ~ main
{
    font-size: 20px;
}

#lightTheme:checked ~ main,
#lightTheme:checked ~ header
{
    color: #000;
    background-color: #eee;
}

#lightTheme:checked ~ main .allColumns
{
    background-color: #ddd;
}

#lightTheme:checked ~ main .twoColumnText,
#lightTheme:checked ~ main .treeColumnText
{
    column-rule: 1px dotted black;
    -webkit-column-rule: 1px dotted black;
    -moz-column-rule: 1px dotted black;
}

#darkTheme:checked ~ main,
#darkTheme:checked ~ header
{
    color: #fff;
    background-color: #000;
}

#darkTheme:checked ~ main .allColumns
{
    background-color: #222;
}

#darkTheme:checked ~ main .twoColumnText,
#darkTheme:checked ~ main .treeColumnText
{
    column-rule: 1px dotted white;
    -webkit-column-rule: 1px dotted white;
    -moz-column-rule: 1px dotted white;
}

#PTMonoFont:checked ~ main
{
    font-family: 'PT Mono', ;
}

#ForumFont:checked ~ main
{
    font-family: 'Forum', cursive;
}
.column1
{
    display: table-cell;
    width: 550px;
    max-width: 550px;
    padding: 10px;
    border-right: 2px solid black;
}

.column2
{
    display: table-cell;
    width: 450px;
    max-width: 450px;
    padding: 10px;
    border-right: 2px solid black;
}

.column3
{
    display: table-cell;
    width: 600px;
    max-width: 600px;
    padding: 10px;
}

h2
{
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
}

article {
    margin-bottom: 40px;
}

.twoColumnText
{
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}

.allColumns
{
    column-span: all;
    -webkit-column-span: all;
    -moz-column-span: all;
    border: 1px dotted black;
    padding: 5px;
    text-align: center;
}

q
{
    font-style: italic;
}

img
{
    width: 100%;
}

.treeColumnText
{
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
}

p
{
    margin-top: 0;
    hyphens: auto;
}

article p:first-child::first-letter {
    font-family: 'Lobster', cursive;
    font-weight: bold;
}
